<!-- <ion-content> -->
<div class="con-user">
  <!-- <div class="avatar">
    <img  [src]="img" alt="">
  </div> -->
  <div class="title">
    <!-- <app-my-name></app-my-name> -->
    <h1> Hi, I'm Aneesh </h1>
    <h1>Bhat G</h1>
    <div *ngIf="showJobTitle" [ngClass]="ngClass">

    <h1>Mobile </h1>
    <h1>Application</h1>
    <h1>Developer.</h1>
    </div>
    <div *ngIf="!showJobTitle" [ngClass]="ngClass">

      <h1>Fullstack </h1>
      
      <h1>Developer.</h1>
      </div>
      <h1>based in</h1>
      <h1>Kundapur.</h1>
    <!-- <p>Frontend Developer</p> -->
  </div>



</div>
<!-- </ion-content> -->
