<div class="con-user">
  <div class="avatar">
    <img  [src]="img" alt="">
    <h1>About Me</h1>
    <p>
      Seeking a position that would provide me to contribute my knowledge and skills gained through education, internship and experience. In addition, look for a professional growth through constant learning in the organisation.
      <a target="_blank" href="https://docs.google.com/document/d/1bfIf0VtsfU4YNXr3ytdBAb1tZqWiO6Sq-UsSr64JEbE/edit">"My Resume"</a> link.</p>
  </div>
  <ion-tabs>
    <ion-tab-bar slot="center">
      <ion-tab-button tab="schedule">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Schedule</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
      </ion-tab-bar>
      </ion-tabs>
  <ion-slides pager="true" >
    <ion-slide>
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>

</div>
