@mixin sidebar-col($color){
    background-color: $color!important;
    background: $color!important;
    --background:$color;
   --ion-background-color:$color!important;
     &:after{
      }
   } 
   
   @mixin text-col($color){
     color:$color!important;
   }
   @mixin  aboutBg($color) {
     background: $color;
     --background:$color;
    //  color:$color!important;
   }