@mixin sidebar-col($color){
    background-color: $color!important;
    background: $color;
    --background:$color;
   --ion-background-color:$color!important;
     &:after{
      }
   } 
   
   @mixin text-col($color){
     color:$color!important;
   }