

<ion-content>
  <ion-slides #slide pager="false" [options]="slideOpts" >
   
    <ion-slide>
      <form [formGroup]="registerEmail">
      <div class="email">
          <span>
          <ion-input formControlName="email" placeholder="Enter Your Email"></ion-input>
          <br>
          <span *ngIf="f.email.errors?.required" >Email is Required.</span>
          <span [ngStyle]="{'color':'red'}" *ngIf="f.email.errors?.pattern && !f.email.valid" >Invalid Email!</span>
          <span *ngIf="f.email.valid">Valid*</span>
          </span>
      </div>
    </form>
      
    </ion-slide>
    <ion-slide>
      <ion-item>
        <ion-label>Select Type of Proftile</ion-label>
        <ion-select #select placeholder="Select One" #prfl (ionChange)="PrfileType(prfl)"> 
          <ion-select-option value="f">Bussiness</ion-select-option>
          <ion-select-option value="m">Student</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-slide>
  
  </ion-slides>
</ion-content>
