ion-slides {
    height: 100%;
  }
ion-input{
    border: solid 2px deeppink;
    border-radius: 50px;
}
  .email{
      display: flex;
      flex-direction: row;
      width:100%;
      position: relative;
      align-items: center;
      justify-content: center;
  }