<ion-header>
  
  <ion-toolbar  [color]="toolbarColor" >
    <!-- color="{'iconName' == 'sunny-outline' ? 'dark':'light'}" -->
    <ion-buttons slot="start" (click)="changeMode()">
      <!-- <ion-button size="large"> -->
      <!-- <ion-icon name="moon-outline"></ion-icon> -->
      <ion-icon [ngStyle]="{'font-size':'2.3rem','margin-left':'20px'}" [name]="iconName"></ion-icon>
      <!-- </ion-button> -->
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-icon class="socialShare-icons" name="logo-github"></ion-icon>
        <ion-icon  class="socialShare-icons" name="mail-outline"></ion-icon>
        <ion-icon class="socialShare-icons" name="logo-instagram"></ion-icon>
        <ion-icon class="socialShare-icons"  name="logo-skype"></ion-icon>
      </ion-buttons>
  
    <ion-title>
    
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content #scroll class="ionContent">
  
  <div class="con-user">
    <!-- <div class="avatar">
      <img  [src]="img" alt="">
    </div> -->
    <div *ngIf="1" class="title">
     
      <h1> Hi, I'm Aneesh </h1>
      <h1>Bhat G</h1>
      <div *ngIf="showJobTitle" [ngClass]="ngClass">

      <h1>Mobile </h1>
      <h1>Application</h1>
      <h1>Developer.</h1>
      </div>
      <div *ngIf="!showJobTitle" [ngClass]="ngClass">

        <h1>Fullstack </h1>
        
        <h1>Developer.</h1>
        </div>
        <h1>based in</h1>
        <h1>Kundapur.</h1>
      <!-- <p>Frontend Developer</p> -->
     
    </div>

 </div>
 <ion-button (click)="swipUp()" class="swipUp" expand="block">
  <ion-icon class="swip-icon" name="chevron-up-outline"></ion-icon>
 </ion-button>
  <app-my-bio></app-my-bio>
  <!-- <ion-button expand="block" (click)="getData()" shape="round" color="tertiary">Get Data</ion-button> -->
  <!-- <ion-button expand="block" (click)="getOnlineData()">Get Online Data</ion-button> -->
 
  <ion-card *ngIf="joke">
    <ion-card-content>
      {{ joke.value }}
    </ion-card-content>
  </ion-card>
 
  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-avatar slot="start">
        <img [src]="user.picture.thumbnail">
      </ion-avatar>
      <ion-label>
        <h2 class="ion-text-capitalize">{{ user.name.first }} {{ user.name.last }}</h2>
        <p>{{ user.email }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
 
</ion-content>
 
<ion-footer color="dark">
  <!-- <ion-toolbar color="primary" *ngIf="appIsOnline">
    <ion-title>You are online :)</ion-title>
  </ion-toolbar>
  <ion-toolbar color="danger" *ngIf="!appIsOnline">
    <ion-title>You are offline :(</ion-title>
  </ion-toolbar> -->
  <ion-button class="profitile" (click)="getMyProfitlo()" expand="block">Get Your Profitle</ion-button>
</ion-footer>